
.vs/OpenGL/v15/.suo
Project1/Project1.vcxproj.user
Project1/Project1.vcxproj.filters
Project1/Project1.vcxproj
OpenGL/stb_image.cpp
OpenGL/res/awesomeface.png
OpenGL/res/awesomeface.jpg
OpenGL/res/avatar.jpg
OpenGL/OpenGL.vcxproj.user
OpenGL/OpenGL.vcxproj.filters
OpenGL/OpenGL.vcxproj
OpenGL/glad.c
OpenGL/Debug/vc141.pdb
OpenGL/Debug/vc141.idb
OpenGL/Debug/stb_image.obj
OpenGL/Debug/OpenGL.tlog/OpenGL.lastbuildstate
OpenGL/Debug/OpenGL.tlog/link.write.1.tlog
OpenGL/Debug/OpenGL.tlog/link.read.1.tlog
OpenGL/Debug/OpenGL.tlog/link.command.1.tlog
OpenGL/Debug/OpenGL.tlog/CL.write.1.tlog
OpenGL/Debug/OpenGL.tlog/CL.read.1.tlog
OpenGL/Debug/OpenGL.tlog/CL.command.1.tlog
OpenGL/Debug/OpenGL.log
OpenGL/Debug/main.obj
OpenGL/Debug/glad.obj
OpenGL.sln
Debug/OpenGL.pdb
Debug/OpenGL.ilk
Debug/OpenGL.exe
.vs/OpenGL/v15/ipch/AutoPCH/9b02202df183db3a/STB_IMAGE.ipch
.vs/OpenGL/v15/ipch/AutoPCH/8b6f530bcc667e49/GLAD.ipch
.vs/OpenGL/v15/ipch/AutoPCH/8afb130c03f7f374/MAIN.ipch
.vs/OpenGL/v15/Browse.VC.opendb
.vs/OpenGL/v15/Browse.VC.db
